@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Lora:ital@1&family=Roboto&display=swap');

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-text {
  font-family: 'Roboto', sans-serif;
}

.secondary-text {
  font-family: 'Lora', serif;
}

.test-margin {
  margin: 0 auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
